body{
    background: url(./assets/chat-bg.jpg) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.fb{
background-color: #4267b2;
color: white;
width: -webkit-fill-available;
height: 30px;
}
.google{
background-color :red;
color: white;
width: -webkit-fill-available;
height: 30px;
}
.fa-facebook-official{
margin-right: 10px;
font-weight: 400;
}
.fa-google-plus{
    margin-right: 10px;
font-weight: 400;
}
.chroom{
    background: linear-gradient(to top,white,blue);
    width: -webkit-fill-available;
    height: 460px;
    margin-top: 15px;
    overflow-y: scroll;
}
.head1{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 10px;
}
.bottom{
    margin-top: 468px;
}
.message{
    height: 48px;
    width: 650px;
    border-radius: 12px;
    color: lightslategrey;
}
.message ::placeholder{
    font-size: medium !important;
    margin-left: 10px !important;
}
.sub{
    margin-left: -10px;
}
.btn-primary{
   
    /* width: 120px; */
}
.frm{
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
}
.mylist{
    list-style: none;
}
.in{
    background-color: white;
    border-radius: 12px;
}
.mycontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20px 23px -20px;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .mycontainer::after {
    content: "";
    clear: both;
    display: table;
  }
  